html,body{
  font-family: Calibri,Arial,serif;
  margin: 0;
  padding: 0;
}

header{
  background: rgb(255,255,255);
  /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: rgba(0, 68, 101,1);
  text-align: center;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form--title{
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: rgba(0, 68, 101,1);
  padding-bottom: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 4rem;
}

nav ul li{
  margin-right: 1rem;
}

nav ul li:last-child{
  margin-right: 0;
}

nav a{
    text-decoration: none;
    color: rgba(0, 68, 101,1);
    transition: all 0.3s;
}

nav a:hover{
  color: rgba(167, 0, 0, 1);
}

footer .active, nav .active{
  color: rgba(167, 0, 0, 1);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form--login,.form--registration,.form--update, .form--calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 1rem 2rem;
}

.form--search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}

.form--search .input--text{
  margin: 0 1rem 0 0;
}
.form--search .input--submit{
  margin: 0;
}



form .message{
  margin-bottom: 1rem;
  color: red;
  font-weight: 900;
}

.form-group{
  display: flex;
  flex-direction: column;
}
.form-group span{
  margin-bottom: 1rem;
  color: red;
  font-weight: 900;
}

.input::placeholder{
  color: rgba(0, 68, 101,1);
}

.input--text:focus,
.input--number:focus,
.input--password:focus{
  outline: 1px solid rgba(255,215,0,1);
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt rgba(255,215,0,1);
}

.input--text,.input--number,.input--password{
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: rgba(0, 68, 101,1);
}

.input--submit{
  background: transparent;
  color: rgba(0, 68, 101,1);
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-family: Calibri, Arial, serif;
  font-size: inherit;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.input--submit:hover,.input--submit:focus{
  background: rgba(255,215,0,1);
}



footer{
  background: rgb(255,255,255);
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: rgba(0, 68, 101,1);
  border-top: 1px solid rgba(255,215,0,1);
  text-align: center;
  font-weight: 900;
  padding: 1rem 0 0.5rem 0;
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

footer a{
  color: rgba(0, 68, 101,1);
  transition: all 0.3s;
}

footer a:hover{
  color: rgba(167, 0, 0, 1);
}

footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer ul li{
  margin-right: 1rem;
}
footer ul li:last-child{
  margin-right: 0;
}

#logoutForm{
  padding: 0;
}

#logoutForm input[type="submit"]{
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: Calibri,Arial,serif;
  font-weight: 900;
  font-size: inherit;
  color: rgba(0, 68, 101,1);
  cursor: pointer;
  transition: all 0.3s;
}

#logoutForm input:hover{
  color: rgba(167, 0, 0, 1);
}

/* CALENDAR CREATE PAGE */
.section{

}
.section--calendar-create,.section--calendar-update{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sidebox{
  padding: 0 1rem;
}
.sidebox--calendar-preview{

}
.sidebox--upload-image{

}

.form--upload-image{
  display: flex;
  flex-direction: column;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
}
.label--file{
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

.input--file{
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file--custom{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: rgba(0, 68, 101,1);
  background-color: #fff;
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file--custom:after{
  box-sizing: border-box;
  content: "Vybrat obrázek...";
}
.file--custom:before{
  box-sizing: border-box;
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Vybrat";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s;
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0 0.5rem 0.5rem 0;
}

.file--custom:hover:before{
  background-color: rgba(255,215,0,1);
}

.form--upload-image .input--submit{
  margin-top: 1rem;
}

.list--gallery{
  list-style-type: none;
  padding: 0 0 1rem 0;
  min-height: 200px;
  border: 0.1rem solid rgba(0, 68, 101,1);
}
.list--gallery h3{
  padding-left: 1rem;
}
.list--gallery .list--item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.list--gallery img{
  grid-column-start: 1;
  grid-column-end: 3;
  height: auto;
  justify-self: center;
  margin: 0.5rem 0;
  cursor: grab;
}
.list--gallery a,.form--delete-image .input--submit{
  font-family: Calibri, Arial, serif;
  font-weight: 900;
  color: rgba(0, 68, 101,1);
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0.5rem;
  border-radius: 0;
  border: 0;
  justify-self: center;
}
.list--gallery a:hover,.form--delete-image .input--submit:hover{
  background: rgba(255,215,0,1);
}
.list--gallery a{
  text-decoration: none;
}
.form--delete-image .input--submit{
  margin-bottom: 0;
  justify-self: start;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}
.form--delete-image{
  width: min-content;
  width: -moz-min-content;
  justify-self: center;
}

.form--calendar-create{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form--calendar-create .input--checkbox{
  display: none;
}

.label--item-1,
.label--item-2,
.label--item-3,
.label--item-4,
.label--item-5,
.label--item-6,
.label--item-7,
.label--item-8,
.label--item-9,
.label--item-10,
.label--item-11,
.label--item-12{
  display: none;
}

.pagination{
  display: block;
  padding-bottom: 0.5rem;
}

.pagination a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  border: none;
  background: none;
  cursor: pointer;
}

.pagination a:first-child:before{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-right: 0.5rem;
  content: "\f100";
  opacity: 0.3;
  transition: all 0.3s;
}
.pagination a:first-child:hover:before{
  opacity: 0.8;
}
.pagination a:last-child:after{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-left: 0.5rem;
  content: "\f101";
  opacity: 0.3;
  transition: all 0.3s;
}
.pagination a:last-child:hover:after{
  opacity: 0.8;
}


.item{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  /*border: 0.1rem dashed rgba(0, 68, 101,1);*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.item--0 .wrapper-image{
  min-height: 27.680em;
  max-height: 27.680em;
  margin: 0;
}

.wrapper-image{
  height: initial;
  min-height: 13.840em;
  max-height: 13.840em;
  /*width: inherit;*/
  min-width: 19.656em;
  max-width: 19.656em;
  grid-row: 1/4;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.border{
  border: 0.1rem dashed rgba(0, 68, 101,1);
}
.border-hover{
  border: 0.1rem solid rgba(0, 68, 101,1);
  background: rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border-hover:after{
  content: "\f055";
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  font-size: 5rem;
  color: black;
}
.border-no{
  border: none;
}
.item--without-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item--with-image{

}

.wrapper-image img{
    max-height: inherit;
    max-width: inherit;
    object-fit: contain;
}

.wrapper-image:hover img{
    opacity: 0.4;
}

.wrapper-image-after:after{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-size: 5rem;
  font-weight: 900;
  content: "\f1f8";
  color: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper-image-after:hover:after{
    display: flex;
    cursor: pointer;
}

.a4-landscape{
width: 27.680em;
height: 19.656em;
}
.a4-portrait{
width: 19.656em;
height: 27.680em;
}

fieldset {
padding: 1rem;
border: none;
}

fieldset label {
display: inline-block;
padding-right: 0.25rem;
margin-bottom: 0.5rem;
text-transform: uppercase;
letter-spacing: 0.6px;
text-align: right;
font-weight: 700;
font-size: 12px;
width: 100px;
}

fieldset input, fieldset select {
padding: 0.25rem;
width: 100px;
}

fieldset input {
text-align: center;
width: 65px;
}

#calendar {
/*width: 500px;*/
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month .labels{
  /*margin-top: 5rem;*/
}
.month .labels, .month .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: end;
  text-align: center;
  /*grid-gap: 4px;*/
}

.month .labels h3{
  grid-column: 1/8;
  margin: 0 0 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.month .dates span {
  /*height: 50px;
  font-size: 16px;
  border: 1px solid #e6e4e4;
  padding-right: 4px;
  letter-spacing: -1px;*/
  font-weight: 900;
  height: 20px;
}

.month .labels span {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.fa-file-image{
  opacity: 0.6;
  font-size: 8rem;
}
/* ======= END CALENDAR CREATE PAGE ======= */

/*-----------------------------------------------------------------------*/

/* CALENDAR SHOW ONE PAGE */
.section--calendar-show-one #calendar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section--calendar-show-one .wrapper-image:hover img{
  opacity: 1;
}
/* ======= END CALENDAR SHOW ONE PAGE ======= */

/*-----------------------------------------------------------------------*/

/* CALENDAR SHOW ALL PAGE */
.section--calendar-show-all{

}
.list--my-calendars{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 4rem;
  list-style: none;
}
.list--my-calendars .list--item{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.list--my-calendars .list--item:last-child{
  margin-right: 0;
}
.list--my-calendars a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  transition: all 0.3s;
  border: 1px solid #dfe1e5;
}
.list--my-calendars a:hover{
  color: rgba(167, 0, 0, 1);
  font-weight: 900;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.list--my-calendars a .fa-file-image{
  margin-bottom: 1rem;
}
.list--my-calendars img{
  width: 150px;
  margin-bottom: 0.5rem;
  max-height: 150px;
}
/* ======= END CALENDAR SHOW ALL PAGE ======= */