html,body{
  font-family: Calibri,Arial,serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2{
  color: rgba(0, 68, 101,1);
}

header{
  background: rgb(255,255,255);
  /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: rgba(0, 68, 101,1);
  text-align: center;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form--title{
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: rgba(0, 68, 101,1);
  padding-bottom: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 4rem;
}

nav ul li{
  margin-right: 1rem;
}

nav ul li:last-child{
  margin-right: 0;
}

nav a{
    text-decoration: none;
    color: rgba(0, 68, 101,1);
    transition: all 0.3s;
}

nav a:hover{
  color: rgba(167, 0, 0, 1);
}

footer .active, nav .active{
  color: rgba(167, 0, 0, 1);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form--login,.form--registration,.form--update, .form--calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 1rem 2rem;
}

.form--search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}

.form--search .input--text{
  margin: 0 1rem 0 0;
}
.form--search .input--submit{
  margin: 0;
}



form .message{
  margin-bottom: 1rem;
  color: red;
  font-weight: 900;
}

.form-group{
  display: flex;
  flex-direction: column;
}
.form-group span{
  margin-bottom: 1rem;
  color: red;
  font-weight: 900;
}

.input::placeholder{
  color: rgba(0, 68, 101,1);
}

.input--text:focus,
.input--number:focus,
.input--password:focus{
  outline: 1px solid rgba(255,215,0,1);
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt rgba(255,215,0,1);
}

.input--text,.input--number,.input--password{
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: rgba(0, 68, 101,1);
}

.input--submit{
  background: transparent;
  color: rgba(0, 68, 101,1);
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-family: Calibri, Arial, serif;
  font-size: inherit;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.input--submit:hover,.input--submit:focus{
  background: rgba(255,215,0,1);
}



footer{
  background: rgb(255,255,255);
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: rgba(0, 68, 101,1);
  border-top: 1px solid rgba(255,215,0,1);
  text-align: center;
  font-weight: 900;
  padding: 1rem 0 0.5rem 0;
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

footer a{
  color: rgba(0, 68, 101,1);
  transition: all 0.3s;
}

footer a:hover{
  color: rgba(167, 0, 0, 1);
}

footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer ul li{
  margin-right: 1rem;
}
footer ul li:last-child{
  margin-right: 0;
}

#logoutForm{
  padding: 0;
}

#logoutForm input[type="submit"]{
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: Calibri,Arial,serif;
  font-weight: 900;
  font-size: inherit;
  color: rgba(0, 68, 101,1);
  cursor: pointer;
  transition: all 0.3s;
}

#logoutForm input:hover{
  color: rgba(167, 0, 0, 1);
}

/* CALENDAR UPDATE PAGE */
.section--calendar-update{
  width: 100%;
}

.sidebox{
  padding: 1rem;
  display: flex;
}
.sidebox--top{
  grid-column: 2/4;
  grid-row: 1/1;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sidebox--calendar-preview{
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: self-start;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}
.sidebox--upload-image{
  border-right: 1px solid #d3d3d3;
  -webkit-box-shadow: 3px 5px 18px -4px rgba(0,0,0,.2);
  -moz-box-shadow: 3px 5px 18px -4px rgba(0,0,0,.2);
  box-shadow: 3px 5px 18px -4px rgba(0,0,0,.2);

  grid-column: 1/2;
  grid-row: 1/3;


  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.form--calendar-update{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  width: 100%;
}
.form--calendar-update .input--checkbox{
  display: none;
}
.form--calendar-update .input--text,
.form--calendar-update .input--number {
  margin: 0;
}

.form--calendar-update .label--name,
.form--calendar-update .label--year,
.form--calendar-update .label--lang{
  margin: 0 1rem 0 0;
}

.form--calendar-update .label--calendar-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 68, 101,1);
}

.label--type{
  display: none;
}

.select {
  display: block;
  color: rgba(0, 68, 101,1);
  padding: 0.7rem 1.4rem 0.7rem 0.7rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"292.4"%20height%3D"292.4"><path%20fill%3D"%23007CB2"%20d%3D"M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z"%2F><%2Fsvg>');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  outline: 1px solid rgba(255,215,0,1);
  outline-offset: -2px;
  box-shadow: 0 0 0 2px rgba(255,215,0,1);
}
.select option {
  font-weight:normal;
  text-transform: uppercase;
}

.form--calendar-update .input--submit{
  align-self: center;
  grid-column: 2/4;
  justify-self: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  background: rgba(255,215,0,1);
  border-radius: 0;
}


.preview-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0 ;
}

.img--preview{
  width: 50px;
  margin: 0 0.2rem;
}


.label--file{
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

.input--file{
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file--custom{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: rgba(0, 68, 101,1);
  background-color: #fff;
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0.5rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file--custom:after{
  box-sizing: border-box;
  content: "Načíst obrázky...";
}
.file--custom:before{
  box-sizing: border-box;
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Vybrat";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s;
  border: 1px solid rgba(255,215,0,1);
  border-radius: 0 0.5rem 0.5rem 0;
}

.file--custom:hover:before{
  background-color: rgba(255,215,0,1);
}

.form--upload-image .input--submit{
  margin-top: 1rem;
}

.list--gallery{
  list-style-type: none;
  padding: 0 0 1rem 0;
  min-height: 200px;
  /*border: 0.1rem solid rgba(0, 68, 101,1);*/
}
/*.list--gallery h3{
padding-left: 1rem;
}*/
.list--gallery .list--item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.list--gallery img{
  grid-column-start: 1;
  grid-column-end: 3;
  height: auto;
  justify-self: center;
  margin: 0.5rem 0;
  cursor: grab;
}
.list--gallery a,.form--delete-image .input--submit{
  font-family: Calibri, Arial, serif;
  font-weight: 900;
  color: rgba(0, 68, 101,1);
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0.5rem;
  border-radius: 0;
  border: 0;
  justify-self: center;
}
.list--gallery a:hover,.form--delete-image .input--submit:hover{
  background: rgba(255,215,0,1);
}
.list--gallery a{
  text-decoration: none;
}
.form--delete-image .input--submit{
  position: static;
  margin-bottom: 0;
  justify-self: start;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}
.form--delete-image{
  width: min-content;
  width: -moz-min-content;
  justify-self: center;
}

.label--item-1,
.label--item-2,
.label--item-3,
.label--item-4,
.label--item-5,
.label--item-6,
.label--item-7,
.label--item-8,
.label--item-9,
.label--item-10,
.label--item-11,
.label--item-12{
  display: none;
}

.pagination{
  display: block;
  padding-bottom: 0.5rem;
}

.sidebox--calendar-preview a,.pagination a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  font-size: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.sidebox--calendar-preview a#prev:before,.pagination a:first-child:before{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-right: 0.5rem;
  content: "\f100";
  opacity: 0.3;
  transition: all 0.3s;
}
.sidebox--calendar-preview a#prev:hover:before, .pagination a:first-child:hover:before{
  opacity: 0.8;
}
.sidebox--calendar-preview a#next:after,.pagination a:last-child:after{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-left: 0.5rem;
  content: "\f101";
  opacity: 0.3;
  transition: all 0.3s;
}
.sidebox--calendar-preview a#next:hover:after,.pagination a:last-child:hover:after{
  opacity: 0.8;
}


.item{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  /*border: 0.1rem dashed rgba(0, 68, 101,1);*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.a4-portrait.item--0 .wrapper-image-top-date-block,
.a4-portrait.item--0 .wrapper-image-top-date-row{
  min-height: 24.680em;
  max-height: 24.680em;
  margin: 0;
}

.landscape.item--0 .wrapper-image-left-date-block,
.landscape.item--0 .wrapper-image-top-date-row{
  min-width: 27.680em;
  max-width: 27.680em;
  min-height: 16.656em;
  max-height: 16.656em;
  margin: 0;
  grid-column: 1/3;
}
.landscape-print.item--0 .wrapper-image-top-date-row,
.landscape-print.item--0 .wrapper-image-left-date-block{
  min-height: 160mm !important;
  min-width: 267mm !important;
  max-width: 267mm !important;
  max-height: 160mm !important;
  justify-self: center;
}
.landscape.item--0 .calendar-title{
  grid-column: 1/3;
}

.wrapper-image{
  height: initial;
  /*min-height: 13.840em;*/
  /*max-height: 13.840em;*/
  /*width: inherit;*/
  /*min-width: 19.656em;*/
  /*max-width: 19.656em;*/
  /*grid-row: 1/4;*/
  /*margin: 1rem 0;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.border{
  border: 0.1rem dashed rgba(0, 68, 101,1);
}
.border-hover{
  border: 0.1rem solid rgba(0, 68, 101,1);
  background: rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border-hover:after{
  content: "\f055";
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  font-size: 5rem;
  color: black;
}
.border-no{
  border: none;
}
.item--without-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item--with-image{

}

.wrapper-image img{
  max-height: inherit;
  max-width: inherit;
  object-fit: contain;
}

.wrapper-image:hover img{
  opacity: 0.4;
}

.wrapper-image-after:after{
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-size: 5rem;
  font-weight: 900;
  content: "\f1f8";
  color: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper-image-after:hover:after{
  display: flex;
  cursor: pointer;
}


/* CALENDAR LANDSCAPE IMAGE LEFT DATE RIGHT */
.landscape{
    width: 27.680em;
    height: 19.656em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.landscape-print{
  height: 190mm !important;
  width: 277mm !important;
}
.landscape .wrapper-image-left-date-block{
    grid-row: 1/3;
    min-width: 13.840em;
    max-width: 13.840em;
    min-height: 19.656em;
    max-height: 19.656em;
    margin: 0 1rem 0 0;
}

.landscape .wrapper-image-top-date-row{
  grid-column: 1/3;
  min-width: 27.680em;
  max-width: 27.680em;
  min-height: 15.656em;
  max-height: 15.656em;
  margin-bottom: 1rem;
}
.landscape-print .wrapper-image-top-date-row{
  min-height: 160mm !important;
  min-width: 267mm !important;
  max-width: 267mm !important;
  max-height: 160mm !important;
  justify-self: center;
}

.landscape .labels{
    align-self: end;
}
.landscape .dates{
    align-self: start;
}

.landscape-print .calendar-title{
  font-size: 4rem;
}
.landscape-print .wrapper-image-top-date-row + .labels,
.landscape-print .wrapper-image-top-date-row + .labels + .dates{
  font-size: 20px;
}
.landscape-print .wrapper-image-top-date-row + .labels-grid-row h3{
  font-size: 2rem;
}

/* ======= END CALENDAR LANDSCAPE IMAGE LEFT DATE RIGHT ====== */

.month .labels{
    /*margin-top: 5rem;*/
}
.month .labels, .month .dates {
    text-align: center;
    /*grid-gap: 4px;*/
}

.labels-grid-block, .dates-grid-block{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: end;
}

.labels-grid-row, .dates-grid-row{
    display: grid;
    grid-template-columns: repeat(42, 1fr);
    /*grid-template-rows: 1fr 1fr;*/
}

.labels-grid-block h3{
    grid-column: 1/8;
    margin: 0 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.labels-grid-row h3{
    grid-column: 1/43;
    margin: 0 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.dates-grid-block span {
    /*height: 50px;
    font-size: 16px;
    border: 1px solid #e6e4e4;
    padding-right: 4px;
    letter-spacing: -1px;*/
    font-weight: 900;
    height: 20px;
}

.dates-grid-row span{
    font-weight: 900;
    height: 20px;
}

.labels-grid-block span {
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.labels-grid-row span{
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

/* CALENDAR PORTRAIT FULL DATE IN BLOCK */
.a4-portrait{
    width: 19.656em;
    height: 27.680em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}
.a4-portrait-print{
  width: 210mm !important;
  height: 297mm !important;
}
.a4-portrait .wrapper-image-top-date-block{
    height: initial;
    min-height: 13.840em;
    max-height: 13.840em;
    /* width: inherit; */
    min-width: 19.656em;
    max-width: 19.656em;
    grid-row: 1/4;
    margin: 0 0 1rem 0;
}
.a4-portrait .wrapper-image-top-date-row{
  height: initial;
  min-height: 22.840em;
  max-height: 22.840em;
  /* width: inherit; */
  min-width: 19.656em;
  max-width: 19.656em;
  grid-row: 1/4;
  margin: 0 0 1rem 0;
}
.wrapper-image-top-date-block + .labels{
    align-self: center;
}
.wrapper-image-top-date-block + .dates{
    align-self: center;
}
.wrapper-image-top-date-row + .labels{
  align-self: end;
  font-size: 6px;
  grid-column: 1/3;
}
.wrapper-image-top-date-row + .labels + .dates{
  align-self: end;
  font-size: 6px;
  grid-column: 1/3;
}
/* ========= END CALENDAR PORTRAIT FULL DATE IN BLOCK ======= */

.calendar-title{
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

fieldset {
  padding: 1rem;
  border: none;
}

fieldset label {
  display: inline-block;
  padding-right: 0.25rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  width: 100px;
}

fieldset input, fieldset select {
  padding: 0.25rem;
  width: 100px;
}

fieldset input {
  text-align: center;
  width: 65px;
}

#calendar {
  /*width: 500px;*/
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.fa-file-image{
  opacity: 0.6;
  font-size: 8rem;
}

.show-full-calendar,.show-page-calendar, .type-of-calendar{
  position: fixed;
  right: 0;
  background: #0073aa;
  color: #669900;
  cursor: pointer;
}
.show-page-calendar{
  top: 150px;
}
.show-full-calendar{
  top: 180px;
}
.type-of-calendar{
  top: 210px;
}
/* ====== END CALENDAR UPDATE PAGE ====== */

/* CALENDAR CREATE PAGE */
.section{

}
.section--calendar-create{
  width: 100%;
}

.form--calendar-create{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.form--calendar-create .input--checkbox{
display: none;
}
.form--calendar-create .input--text,
.form--calendar-create .input--number{
  margin: 0 0 0 1rem;
}
.form--calendar-create .select--lang,
.form--calendar-create .select--offset{
  margin: 0 0 0 1rem;
}

.form--calendar-create .label--name,
.form--calendar-create .label--year,
.form--calendar-create .label--lang,
.form--calendar-create .label--offset{
  margin: 0 0 1rem 0;
}

.form--calendar-create .label--calendar-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgba(0, 68, 101,1);
}


/* ======= END CALENDAR CREATE PAGE ======= */

/*-----------------------------------------------------------------------*/

/* CALENDAR SHOW ONE */
.section--calendar-show-one{
  margin: 0 4rem;
}
.section--calendar-show-one #calendar{
  flex-direction: row;
}
.section--calendar-show-one .wrapper-image:hover img{
  opacity: 1;
}

.calendar-edit-option{
  position: fixed;
  top: 150px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calendar-edit-option a{
  margin-bottom: 0.3rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s;
  width: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.calendar-edit-option a:last-child{
  margin-bottom: 0;
}
.link--download,.link--edit{
  background: rgba(255,215,0,1);
  color: rgba(0, 68, 101,1);
  border: 0.1rem solid rgba(255,215,0,1);
  border-left: none;
  cursor: pointer;
}
.link--download:hover,.link--edit:hover{
  background: transparent;
  border: 0.1rem solid rgba(0,68,101,1);
  border-left: none;
}

.link--delete{
  background: #d43241;
  color: white;
  border: 0.1rem solid #d43241;
  border-left: none;
}
.link--delete:hover{
  background: transparent;
  color: #d43241;
}
/* ======= END CALENDAR SHOW ONE PAGE ======= */

/*-----------------------------------------------------------------------*/

/* CALENDAR SHOW ALL PAGE */
.section--calendar-show-all{

}
.list--my-calendars{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 4rem;
  list-style: none;
}
.list--my-calendars .list--item{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.list--my-calendars .list--item:last-child{
  margin-right: 0;
}
.list--my-calendars a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: rgba(0, 68, 101,1);
  font-weight: 900;
  transition: all 0.3s;
  border: 1px solid #dfe1e5;
}
.list--my-calendars a:hover{
  color: rgba(167, 0, 0, 1);
  font-weight: 900;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.list--my-calendars a .fa-file-image{
  margin-bottom: 1rem;
}
.list--my-calendars img{
  width: 150px;
  margin-bottom: 0.5rem;
  max-height: 150px;
}
/* ======= END CALENDAR SHOW ALL PAGE ======= */


/* DESIGN CALENDAR */
.design1{

}
.design2{

}
.design3{

}
.design4{

}
/* ==================== */