html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
h2 {
  color: #004465;
  text-align: center;
}
h3 {
  color: #004465;
}
header {
  background: #ffffff;
  /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: #004465;
  text-align: center;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 64px;
}
ul {
  list-style-type: none;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url("../../img/preloader.gif") center no-repeat #fff;
}
a.control_prev,
a.control_next {
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 0 3%;
  width: auto;
  height: 100%;
  background: #004465;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
a.control_prev {
  border-radius: 0 2px 2px 0;
  left: 0;
}
a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
html,
body {
  font-family: Calibri,Arial,serif;
}
/* ADMIN TABLE USERS */
.table--users {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 0;
  margin-bottom: 2rem;
}
.table--users thead {
  /*background-color: #e0e0e0;*/
  color: #004465;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  vertical-align: bottom;
}
.table--users tr {
  border-bottom: 1px solid #cbcbcb;
}
.table--users tbody tr:last-child {
  border-bottom: 0;
}
.table--users th,
.table--users td {
  padding: 0.5em 1em;
  /*border-left: 1px solid #cbcbcb;*/
  margin: 0;
  overflow: visible;
  color: #004465;
}
.table--users tbody td:nth-child(4) {
  text-align: center;
}
.table--users a {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0.3rem;
  border-radius: 0;
  justify-self: center;
}
.table--users .link--edit-user {
  background: #ffd700;
  border: 0.1rem solid #ffd700;
  color: #004465;
}
.table--users .link--edit-user:hover {
  background: transparent;
  border: 0.1rem solid #004465;
}
.table--users .link--delete-user {
  background: #d43241;
  color: #ffffff;
  border: 0.1rem solid #d43241;
}
.table--users .link--delete-user:hover {
  background: transparent;
  color: #d43241;
}
.table--users .admin-icon-yes:before {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  content: '\f00c';
  color: #004465;
}
.table--users .admin-icon-no:before {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  content: '\f00d';
  color: #004465;
}
.box--button {
  display: flex;
  flex-direction: column;
}
.box--button-calendar-update {
  position: fixed;
  top: 150px;
  right: 0;
  padding: 0 1rem 0 0;
  align-items: flex-end;
}
.box--button-calendar-update .link {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box--button-calendar-update .link:last-child {
  margin-bottom: 0;
}
.box--button-calendar-update .link--show-full-calendar,
.box--button-calendar-update .link--show-page-calendar,
.box--button-calendar-update .link--type-of-calendar,
.box--button-calendar-update .link--calendar-design,
.box--button-calendar-update .link--calendar-custom-color {
  background: white;
  color: red;
  cursor: pointer;
}
.box--button-calendar-update .link--show-full-calendar:before,
.box--button-calendar-update .link--show-page-calendar:before {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  margin-right: 0.5rem;
}
.box--button-calendar-update .link--show-page-calendar:before {
  content: '\f0c8';
}
.box--button-calendar-update .link--show-full-calendar:before {
  content: '\f00a';
}
.box--button-calendar-show {
  position: fixed;
  top: 150px;
  left: 0;
  justify-content: center;
  align-items: flex-start;
}
.box--button-calendar-show .link {
  margin-bottom: 0.3rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s;
  width: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.box--button-calendar-show .link:last-child {
  margin-bottom: 0;
}
.box--button-calendar-show .link--download,
.box--button-calendar-show .link--edit {
  background: #ffd700;
  color: #004465;
  border: 0.1rem solid #ffd700;
  border-left: none;
  cursor: pointer;
}
.box--button-calendar-show .link--download:hover,
.box--button-calendar-show .link--edit:hover {
  background: transparent;
  border: 0.1rem solid #004465;
  border-left: none;
}
.box--button-calendar-show .link--delete {
  background: #d43241;
  color: white;
  border: 0.1rem solid #d43241;
  border-left: none;
}
.box--button-calendar-show .link--delete:hover {
  background: transparent;
  color: #d43241;
}
.box--button-calendar-edit {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.box--button-calendar-edit .link {
  margin-bottom: 0.3rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s;
  width: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.box--button-calendar-edit .link:last-child {
  margin-bottom: 0;
}
.box--button-calendar-edit .link--display,
.box--button-calendar-edit .link--edit {
  background: #ffd700;
  color: #004465;
  border: 0.1rem solid #ffd700;
  cursor: pointer;
}
.box--button-calendar-edit .link--display:hover,
.box--button-calendar-edit .link--edit:hover {
  background: #ffffff;
  border: 0.1rem solid #004465;
}
.box--button-calendar-edit .link--delete {
  background: #d43241;
  color: white;
  border: 0.1rem solid #d43241;
}
.box--button-calendar-edit .link--delete:hover {
  border: 0.1rem solid #d43241;
  background: #ffffff;
  color: #d43241;
}
#main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 4rem;
}
#main-menu ul li {
  margin-right: 1rem;
}
#main-menu ul li:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #004465;
  transition: all 0.3s;
}
nav a:hover {
  color: #a70000;
}
nav .active {
  color: #a70000;
}
#user-menu {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 9999;
}
#user-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  z-index: 9999;
}
#user-menu ul li:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 4rem;
  margin-top: -0.3rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#user-menu ul li:first-child span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#user-menu ul li:first-child span:before {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  content: "\f2bd";
  font-size: 2rem;
  margin-right: 0.5rem;
}
#user-menu ul li:first-child span:after {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  content: "\f0dd";
  margin: 0 0 0.5rem 0.5rem;
}
#user-menu ul li:nth-child(2) {
  text-transform: none;
  margin-top: 0.5rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem 0.3rem 0 0;
  color: rgba(0, 0, 0, 0.8);
}
#user-menu ul li {
  display: none;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 0.5rem;
  width: 100%;
}
#user-menu ul li:last-child {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-top: 0.05rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.3rem 0.3rem;
}
.wrapper--image {
  height: initial;
  /*min-height: 13.840em;*/
  /*max-height: 13.840em;*/
  /*width: inherit;*/
  /*min-width: 19.656em;*/
  /*max-width: 19.656em;*/
  /*grid-row: 1/4;*/
  /*margin: 1rem 0;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper--image img {
  max-height: inherit;
  max-width: inherit;
  object-fit: contain;
}
.wrapper--image-after:after {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-size: 5rem;
  font-weight: 900;
  content: "\f1f8";
  color: black;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper--image-after:hover:after {
  display: flex;
  cursor: pointer;
}
#wrapper-type {
  display: grid;
}
.wrapper--color-text-create {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}
.wrapper--color-text-update {
  display: none;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}
.wrapper--group-radio-create {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;
  color: #004465;
}
.wrapper--group-radio-create > span {
  margin-right: 0.5rem;
}
.wrapper--group-radio-create .wrapper--radio-img {
  display: none;
}
.wrapper--group-radio-create .wrapper--radio-img img {
  width: inherit;
  height: inherit;
  padding: 2px;
}
.wrapper--group-radio-create .label--radio:nth-child(2):hover > .wrapper--radio-img,
.wrapper--group-radio-create .label--radio:nth-child(3):hover > .wrapper--radio-img {
  width: auto;
  height: 300px;
  position: absolute;
  top: -150px;
  left: -250px;
  box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper--group-radio-create .label--radio:nth-child(4):hover > .wrapper--radio-img,
.wrapper--group-radio-create .label--radio:last-child:hover > .wrapper--radio-img {
  width: 300px;
  height: auto;
  position: absolute;
  top: -100px;
  left: -320px;
  z-index: 9999;
  box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper--group-radio-update {
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
}
.wrapper--group-radio-update > span {
  color: #004465;
  grid-column: 1/5;
}
.wrapper--group-radio-update .wrapper--radio-img {
  display: none;
}
.wrapper--group-radio-update .wrapper--radio-img img {
  width: inherit;
  height: inherit;
  padding: 2px;
}
.wrapper--group-radio-update .label--radio:nth-child(2):hover > .wrapper--radio-img,
.wrapper--group-radio-update .label--radio:nth-child(3):hover > .wrapper--radio-img {
  width: auto;
  height: 300px;
  left: -250px;
}
.wrapper--group-radio-update .label--radio:nth-child(4):hover > .wrapper--radio-img,
.wrapper--group-radio-update .label--radio:last-child:hover > .wrapper--radio-img {
  width: 300px;
  height: auto;
  left: -320px;
}
.wrapper--group-radio-update .label--radio:nth-child(2):hover > .wrapper--radio-img,
.wrapper--group-radio-update .label--radio:nth-child(3):hover > .wrapper--radio-img,
.wrapper--group-radio-update .label--radio:nth-child(4):hover > .wrapper--radio-img,
.wrapper--group-radio-update .label--radio:last-child:hover > .wrapper--radio-img {
  position: absolute;
  top: -40px;
  box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper--calendar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #dfe1e5;
  color: #004465;
  background-color: white;
  width: max-content;
  transition: all 0.3s;
}
.wrapper--calendar-item .fa-file-image {
  margin-bottom: 1rem;
}
.wrapper--calendar-item:hover .box--button-calendar-edit {
  opacity: 1;
  z-index: 10;
}
.wrapper--users-calendar {
  position: relative;
  width: 100%;
}
.wrapper--users-calendar h3 {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  text-transform: uppercase;
}
.wrapper--users-calendar ul {
  padding: 1rem 0;
}
.wrapper--users-calendar:nth-child(2n) {
  background-color: rgba(255, 244, 166, 0.5);
}
.wrapper--users-calendar:nth-child(2n) .control_next,
.wrapper--users-calendar:nth-child(2n) .control_prev {
  background-color: rgba(0, 68, 101, 0.8);
}
.wrapper--users-calendar:nth-child(2n) .control_next:hover,
.wrapper--users-calendar:nth-child(2n) .control_prev:hover {
  background-color: #004465;
}
/* CALENDAR UPDATE PAGE */
.section--calendar-update {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 64px);
}
/* CALENDAR CREATE PAGE */
.section--calendar-create {
  width: 100%;
  max-width: 100%;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  height: calc(100vh - 64px - 1rem);
  background-color: rgba(255, 244, 166, 0.5);
}
/* CALENDAR SHOW ONE */
.section--calendar-show-one {
  margin: 0 4rem;
}
.section--calendar-show-one #calendar {
  flex-direction: row;
}
.section--calendar-show-one .wrapper-image:after img {
  opacity: 1;
}
.section--registration,
.section--user-create,
.section--user-update,
.section--homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 244, 166, 0.5);
}
.section--admin-homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 244, 166, 0.5);
}
.section--admin-homepage h3 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.section--login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: rgba(255, 244, 166, 0.5);
}
.section--calendar-show-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 64px);
  background-color: rgba(255, 244, 166, 0.5);
}
.sidebox {
  padding: 1rem;
  display: flex;
}
.sidebox--admin-search-users {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* CALENDAR UPDATE PAGE */
.sidebox--top {
  grid-column: 2/4;
  grid-row: 1/1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sidebox--calendar-preview {
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: self-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}
.sidebox--calendar-preview a {
  text-decoration: none;
  text-transform: uppercase;
  color: #004465;
  font-weight: 900;
  font-size: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}
.sidebox--calendar-preview #prev:before {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-right: 0.5rem;
  content: "\f100";
  opacity: 0.3;
  transition: all 0.3s;
}
.sidebox--calendar-preview #next:after {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  padding-left: 0.5rem;
  content: "\f101";
  opacity: 0.3;
  transition: all 0.3s;
}
.sidebox--calendar-preview #prev:hover:before,
.sidebox--calendar-preview #next:hover:after {
  opacity: 0.8;
}
.sidebox--upload-image {
  border-right: 1px solid #d3d3d3;
  -webkit-box-shadow: 3px 5px 18px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 5px 18px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 5px 18px -4px rgba(0, 0, 0, 0.2);
  grid-column: 1/2;
  grid-row: 1/3;
  height: calc(100vh - 64px - 2rem);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
/* ====== CALENDAR UPDATE END ======= */
/* CALENDAR CREATE PAGE */
.sidebox--preview-create {
  justify-self: start;
}
/* ===== CALENDAR CREATE END ===== */
.sidebox--introduction {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
  color: #004465;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/img/loginback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sidebox--introduction h1 {
  text-transform: uppercase;
}
.sidebox--introduction ol {
  list-style-type: decimal;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 900;
}
.sidebox--introduction ul li {
  font-weight: 900;
  line-height: 2rem;
  text-transform: uppercase;
  list-style-type: circle;
}
.sidebox--login {
  height: calc(100vh - 2rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebox--login .registration:after {
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  content: "\f101";
  margin: 0 0.5rem;
  text-transform: uppercase;
}
.sidebox--introduction .link,
.sidebox--login .link {
  margin-bottom: 0.3rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}
.sidebox--introduction .link--test-calendar,
.sidebox--login .link--test-calendar,
.sidebox--introduction .link--registration,
.sidebox--login .link--registration {
  background: #ffd700;
  color: #004465;
  border: 0.1rem solid #ffd700;
  cursor: pointer;
}
.sidebox--introduction .link--test-calendar:hover,
.sidebox--login .link--test-calendar:hover,
.sidebox--introduction .link--registration:hover,
.sidebox--login .link--registration:hover {
  background: #ffffff;
  border: 0.1rem solid #004465;
}
.sidebox--last-calendar h3 {
  margin-top: 0;
  text-transform: none;
}
.sidebox--last-ten-calendars {
  position: relative;
  width: 100%;
}
form .message {
  color: red;
  font-weight: 900;
  margin: 1rem 0;
}
form .form--title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: #004465;
}
.form--login,
.form--registration,
.form--update,
.form--calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 1rem 2rem;
}
.form--update .label--admin {
  margin-bottom: 1rem;
}
.form--update .label--admin span {
  color: #004465;
  text-transform: uppercase;
  cursor: pointer;
}
.form--search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}
.form--search .input--text {
  margin: 0 1rem 0 0;
}
.form--search .input--submit {
  margin: 0;
}
.form--search .link--create-user {
  margin: 0 0 0 1rem;
  text-decoration: none;
}
.form--calendar-update {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 64px);
}
.form--calendar-update span[id="file.errors"] {
  margin-top: 2rem;
}
.form--calendar-update .input--checkbox {
  display: none;
}
.form--calendar-update .input--radio {
  display: none;
}
.form--calendar-update .input--radio:checked + span {
  outline: 1px solid #ffd700;
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt #ffd700;
}
.form--calendar-update .input--text,
.form--calendar-update .input--number {
  margin: 0;
}
.form--calendar-update .input--color {
  /*visibility: hidden;*/
  border: 0;
  width: 3rem;
  height: 2.5rem;
  outline: none;
}
.form--calendar-update .input--submit {
  align-self: center;
  grid-column: 2/4;
  justify-self: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  border-top: 0.1rem solid #ffd700;
  border-left: 0.1rem solid #ffd700;
  background: #ffd700;
  border-radius: 0;
  transition: all 0.3s;
  text-decoration: none;
}
.form--calendar-update .input--submit:hover {
  border-top: 0.1rem solid #004465;
  border-left: 0.1rem solid #004465;
  background: white;
}
.form--calendar-update .label--name,
.form--calendar-update .label--year,
.form--calendar-update .label--lang {
  margin: 0 1rem 0 0;
}
.form--calendar-update .label--radio {
  position: relative;
  cursor: pointer;
  color: #004465;
  grid-row: 2/4;
}
.form--calendar-update .label--radio span {
  border: 0.1rem solid #ffd700;
  border-radius: 0.5rem;
}
.form--calendar-update .label--radio-type:nth-child(2) span,
.form--calendar-update .label--radio-type:nth-child(3) span {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.form--calendar-update .label--radio-type:nth-child(4) span {
  margin-right: 0.5rem;
}
.form--calendar-update .label--radio-type:nth-child(4) span,
.form--calendar-update .label--radio-type:last-child span {
  padding: 0.5rem 1rem;
}
.form--calendar-update .label--radio-design:nth-child(2) span,
.form--calendar-update .label--radio-design:nth-child(3) span,
.form--calendar-update .label--radio-design:nth-child(4) span {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.form--calendar-update .label--radio-design:nth-child(5) span {
  margin-right: 0.5rem;
}
.form--calendar-update .label--radio-design:nth-child(5) span,
.form--calendar-update .label--radio-design:last-child span {
  padding: 0.5rem 1rem;
}
.form--calendar-update .label--calendar-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #004465;
  margin-right: 1rem;
}
.form--calendar-update .label--calendar-option:last-child {
  margin-right: 0;
}
.form--logout {
  padding: 0;
}
.form--logout .input--submit {
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: Calibri,Arial,serif;
  font-weight: 900;
  font-size: inherit;
  color: #004465;
  cursor: pointer;
  transition: all 0.3s;
}
.form--logout .input--submit:hover {
  color: #a70000;
  background-color: transparent;
}
.form--upload-image .input--submit {
  margin-top: 1rem;
}
.form--calendar-create {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-self: end;
  padding: 1rem;
}
.form--calendar-create .input--checkbox {
  display: none;
}
.form--calendar-create .input--text,
.form--calendar-create .input--number {
  margin: 0 0 0 1rem;
}
.form--calendar-create .input--color {
  margin-left: 0.5rem;
  border: 0;
  width: 3rem;
  height: 2.5rem;
  outline: none;
}
.form--calendar-create .input--radio {
  display: none;
}
.form--calendar-create .input--radio:checked + span {
  outline: 1px solid #ffd700;
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt #ffd700;
}
.form--calendar-create .select--lang,
.form--calendar-create .select--offset {
  margin: 0 0 0 1rem;
}
.form--calendar-create .label--name,
.form--calendar-create .label--year,
.form--calendar-create .label--lang,
.form--calendar-create .label--offset {
  margin: 0 0 1rem 0;
}
.form--calendar-create .label--calendar-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #004465;
}
.form--calendar-create .label--radio {
  position: relative;
  cursor: pointer;
}
.form--calendar-create .label--radio span {
  border: 0.1rem solid #ffd700;
  border-radius: 0.5rem;
}
.form--calendar-create .label--radio-type:nth-child(2) span,
.form--calendar-create .label--radio-type:nth-child(3) span {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.form--calendar-create .label--radio-type:nth-child(4) span {
  margin-right: 0.5rem;
}
.form--calendar-create .label--radio-type:nth-child(4) span,
.form--calendar-create .label--radio-type:last-child span {
  padding: 0.5rem 1rem;
}
.form--calendar-create .label--radio-design:nth-child(2) span,
.form--calendar-create .label--radio-design:nth-child(3) span,
.form--calendar-create .label--radio-design:nth-child(4) span {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.form--calendar-create .label--radio-design:nth-child(5) span {
  margin-right: 0.5rem;
}
.form--calendar-create .label--radio-design:nth-child(5) span,
.form--calendar-create .label--radio-design:last-child span {
  padding: 0.5rem 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group span {
  margin-bottom: 1rem;
  color: red;
  font-weight: 900;
}
span[id*=".errors"] {
  color: red;
  font-weight: 900;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
}
.input::placeholder {
  color: #004465;
}
.input--text:focus,
.input--number:focus,
.input--password:focus {
  outline: 1px solid #ffd700;
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt #ffd700;
}
.input--text,
.input--number,
.input--password {
  border: 1px solid #ffd700;
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: #004465;
}
.select {
  display: block;
  color: #004465;
  padding: 0.7rem 1.4rem 0.7rem 0.7rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #ffd700;
  border-radius: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"292.4"%20height%3D"292.4"><path%20fill%3D"%23007CB2"%20d%3D"M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z"%2F><%2Fsvg>');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  outline: 1px solid #ffd700;
  outline-offset: -2px;
  box-shadow: 0 0 0 2px #ffd700;
}
.select option {
  font-weight: normal;
  text-transform: uppercase;
}
.label--file {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 2.5rem;
}
.input--file {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file--custom {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #004465;
  background-color: #fff;
  border: 1px solid #ffd700;
  border-radius: 0.5rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.file--custom:after {
  box-sizing: border-box;
  content: "Načíst obrázky...";
}
.file--custom:before {
  box-sizing: border-box;
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Vybrat";
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #004465;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s;
  border: 1px solid #ffd700;
  border-radius: 0 0.5rem 0.5rem 0;
}
.file--custom:hover:before {
  background-color: #ffd700;
}
.link--create-user,
.input--submit {
  background: transparent;
  color: #004465;
  border: 1px solid #ffd700;
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-family: Calibri, Arial, serif;
  font-size: inherit;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.link--create-user:hover,
.link--create-user:focus,
.input--submit:hover,
.input--submit:focus {
  background: #ffd700;
}
.label--item-1,
.label--item-2,
.label--item-3,
.label--item-4,
.label--item-5,
.label--item-6,
.label--item-7,
.label--item-8,
.label--item-9,
.label--item-10,
.label--item-11,
.label--item-12 {
  display: none;
}
fieldset {
  padding: 1rem;
  border: none;
}
fieldset label {
  display: inline-block;
  padding-right: 0.25rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  width: 100px;
}
fieldset input,
fieldset select {
  padding: 0.25rem;
  width: 100px;
}
fieldset input {
  text-align: center;
  width: 65px;
}
/* CALENDAR UPDATE */
.list--gallery {
  list-style-type: none;
  padding: 0 0 1rem 0;
  min-height: 200px;
  margin-top: 2rem;
  /*border: 0.1rem solid rgba(0, 68, 101,1);*/
}
.list--gallery .list--item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}
.list--gallery .list--item:last-child {
  margin-bottom: 0;
}
.list--gallery img {
  grid-column-start: 1;
  grid-column-end: 3;
  height: auto;
  justify-self: center;
  margin: 0.5rem 0;
  cursor: grab;
}
.list--gallery .link--full-image,
.list--gallery .link--delete-image {
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 0.5rem;
  border-radius: 0;
  justify-self: center;
  text-decoration: none;
}
.list--gallery .link--full-image {
  background: #ffd700;
  border: 0.1rem solid #ffd700;
  color: #004465;
  cursor: pointer;
}
.list--gallery .link--full-image:hover {
  background: white;
  border: 0.1rem solid #004465;
}
.list--gallery .link--delete-image {
  background: #d43241;
  color: white;
  border: 0.1rem solid #d43241;
  cursor: pointer;
}
.list--gallery .link--delete-image:hover {
  background: transparent;
  color: #d43241;
}
/* CALENDAR SHOW ALL PAGE */
.list--my-calendars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 4rem;
  list-style: none;
}
.list--my-calendars .list--item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list--my-calendars .list--item:last-child {
  margin-right: 0;
}
.list--my-calendars .list--item .link--create-calendar {
  text-transform: uppercase;
  border: 1px solid #ffd700;
  border-radius: 0.5rem;
}
.list--my-calendars a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #004465;
  font-weight: 900;
  transition: all 0.3s;
  border: 1px solid #dfe1e5;
}
.list--my-calendars a:hover {
  color: #a70000;
  font-weight: 900;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.list--my-calendars a .fa-file-image {
  margin-bottom: 1rem;
}
.list--my-calendars img {
  width: 150px;
  margin-bottom: 0.5rem;
  max-height: 150px;
}
footer {
  background: #ffffff;
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 70%);*/
  color: #004465;
  border-top: 1px solid #ffd700;
  text-align: center;
  font-weight: 900;
  padding: 1rem 0 0.5rem 0;
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
footer a {
  color: #004465;
  transition: all 0.3s;
}
footer a:hover {
  color: #a70000;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-right: 1rem;
}
footer ul li:last-child {
  margin-right: 0;
}
.design0 {
  background-color: #ffffff;
  color: #000000;
}
.design0 .calendar-title,
.design0 h3,
.design0 .labels {
  color: #000000;
}
.design0 .labels {
  opacity: 0.6;
}
.design0 .dates {
  color: #000000;
}
.design1 {
  background-color: #000000;
}
.design1 .calendar-title,
.design1 h3,
.design1 .labels {
  color: #ffffff;
}
.design1 .labels {
  opacity: 0.6;
}
.design1 .dates {
  color: #ffffff;
}
.design2 {
  background-color: green;
}
.design2 .calendar-title,
.design2 h3,
.design2 .labels {
  color: yellow;
}
.design2 .labels {
  opacity: 0.6;
}
.design2 .dates {
  color: yellow;
}
.design3 {
  background-color: yellow;
}
.design3 .calendar-title,
.design3 h3,
.design3 .labels {
  color: blue;
}
.design3 .labels {
  opacity: 0.6;
}
.design3 .dates {
  color: blue;
}
.design4 {
  background-color: blue;
}
.design4 .calendar-title,
.design4 h3,
.design4 .labels {
  color: red;
}
.design4 .labels {
  opacity: 0.6;
}
.design4 .dates {
  color: white;
}
.border {
  border: 0.1rem dashed #004465;
  opacity: 0.8;
  background: #ffffff;
}
.border-hover {
  border: 0.1rem solid #004465;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border-hover:after {
  content: "\f055";
  font-family: "Font Awesome 5 Free", Pacifico, Arial, serif;
  font-weight: 900;
  font-size: 5rem;
  color: black;
}
.border-no {
  border: none;
}
#calendar {
  /*width: 500px;*/
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* CALENDAR PORTRAIT FULL DATE IN BLOCK */
.a4-portrait {
  width: 19.656em;
  height: 27.68em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.a4-portrait .wrapper-image-top-date-block {
  height: initial;
  min-height: 13.84em;
  max-height: 13.84em;
  /* width: inherit; */
  min-width: 19.656em;
  max-width: 19.656em;
  grid-row: 1/4;
  margin: 0 0 1rem 0;
}
.a4-portrait .wrapper-image-top-date-row {
  height: initial;
  min-height: 22.84em;
  max-height: 22.84em;
  /* width: inherit; */
  min-width: 19.656em;
  max-width: 19.656em;
  grid-row: 1/4;
  margin: 0 0 1rem 0;
}
.a4-portrait.item--0 .wrapper-image-top-date-block,
.a4-portrait .item--0 .wrapper-image-top-date-row {
  min-height: 24.68em;
  max-height: 24.68em;
  margin: 0;
}
/* CALENDAR LANDSCAPE IMAGE LEFT DATE RIGHT */
.landscape {
  width: 27.68em;
  height: 19.656em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.landscape .labels {
  align-self: end;
}
.landscape .dates {
  align-self: start;
}
.landscape.item--0 .calendar-title {
  grid-column: 1/3;
}
.landscape .wrapper-image-left-date-block {
  grid-row: 1/3;
  min-width: 13.84em;
  max-width: 13.84em;
  min-height: 19.656em;
  max-height: 19.656em;
  margin: 0 1rem 0 0;
}
.landscape .wrapper-image-top-date-row {
  grid-column: 1/3;
  min-width: 27.68em;
  max-width: 27.68em;
  min-height: 15.656em;
  max-height: 15.656em;
  margin-bottom: 1rem;
}
.landscape.item--0 .wrapper-image-left-date-block,
.landscape .item--0 .wrapper-image-top-date-row {
  min-width: 27.68em;
  max-width: 27.68em;
  min-height: 16.656em;
  max-height: 16.656em;
  margin: 0;
  grid-column: 1/3;
}
.wrapper-image-top-date-row + .wrapper--dates {
  grid-column: 1/3;
  display: grid;
}
.wrapper-image-left-date-block + .wrapper--dates {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
}
.wrapper-image-top-date-block + .wrapper--dates .labels {
  align-self: center;
}
.wrapper-image-top-date-block + .wrapper--dates .dates {
  align-self: center;
}
.wrapper-image-top-date-row + .wrapper--dates .labels {
  align-self: end;
  font-size: 6px;
}
.wrapper-image-top-date-row + .wrapper--dates .labels + .dates {
  align-self: end;
  font-size: 6px;
}
.month .labels,
.month .dates {
  text-align: center;
  /*grid-gap: 4px;*/
}
.dates-grid-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: end;
}
.labels-grid-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.labels-grid-row,
.dates-grid-row {
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  /*grid-template-rows: 1fr 1fr;*/
}
.wrapper--dates h3 {
  margin: 0 0 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.dates-grid-block span {
  /*height: 50px;
  font-size: 16px;
  border: 1px solid #e6e4e4;
  padding-right: 4px;
  letter-spacing: -1px;*/
  font-weight: 900;
  height: 20px;
}
.dates-grid-row span {
  font-weight: 900;
  height: 20px;
}
.labels-grid-block span {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5rem;
}
.labels-grid-row span {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5rem;
}
.item {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  /*margin-bottom: 1rem;*/
  padding: 1rem;
  margin-bottom: 1rem;
  /*border: 0.1rem dashed rgba(0, 68, 101,1);*/
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.item--without-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.calendar-title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.fa-file-image {
  opacity: 0.6;
  font-size: 8rem;
}
/* CALENDAR CREATE PAGE */
#calendar-date-row {
  display: none;
}
/* CALENDAR PORTRAIT FULL DATE IN BLOCK */
.a4-portrait-print {
  width: 205mm !important;
  height: 288.3mm !important;
}
.a4-portrait-print .calendar-title {
  font-size: 4rem;
}
.a4-portrait-print .wrapper--dates {
  display: grid;
}
.a4-portrait-print .wrapper-image-top-date-block + .wrapper--dates {
  grid-row: 0.75;
  font-size: 2.3rem;
}
.a4-portrait-print .wrapper-image-top-date-row + .wrapper--dates {
  grid-column: auto;
}
.a4-portrait-print .wrapper-image-top-date-row + .wrapper--dates h3 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.a4-portrait-print .wrapper-image-top-date-block + .wrapper--dates h3 {
  /*font-size: 3rem;*/
  margin: 0 0 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.a4-portrait-print .wrapper-image-top-date-row + .wrapper--dates .labels,
.a4-portrait-print .wrapper-image-top-date-row + .wrapper--dates .labels + .dates {
  font-size: 20px;
}
.a4-portrait-print .wrapper-image-top-date-block + .wrapper--dates .dates span {
  height: auto;
}
.a4-portrait-print .wrapper-image-top-date-block {
  min-width: 160mm !important;
  max-width: 160mm !important;
  min-height: 170mm !important;
  max-height: 170mm !important;
  justify-self: center;
  grid-row: 0.33333333;
}
.a4-portrait-print .wrapper-image-top-date-row {
  min-width: 160mm !important;
  max-width: 160mm !important;
  min-height: 247mm !important;
  max-height: 247mm !important;
  justify-self: center;
}
.a4-portrait-print.item--0 .wrapper-image-top-date-block,
.a4-portrait-print .item--0 .wrapper-image-top-date-row {
  min-width: 160mm !important;
  max-width: 160mm !important;
  min-height: 247mm !important;
  max-height: 247mm !important;
  justify-self: center;
}
/* CALENDAR LANDSCAPE IMAGE LEFT DATE RIGHT */
.landscape-print {
  height: 201mm !important;
  width: 289mm !important;
}
.landscape-print .calendar-title {
  font-size: 4rem;
}
.landscape-print .wrapper--dates {
  display: grid;
}
.landscape-print .wrapper-image-left-date-block {
  min-height: 190mm !important;
  max-height: 190mm !important;
  min-width: 138mm !important;
  max-width: 138mm !important;
  justify-self: center;
  margin: 0 0.5rem 0 0 !important;
  align-self: center;
}
.landscape-print .wrapper-image-top-date-row {
  min-height: 160mm !important;
  min-width: 267mm !important;
  max-width: 267mm !important;
  max-height: 160mm !important;
  justify-self: center;
}
.landscape-print .wrapper-image-top-date-row + .wrapper--dates {
  grid-column: 0.33333333;
}
.landscape-print .wrapper-image-left-date-block + .wrapper--dates {
  grid-column: 0.66666667;
  grid-row: 0.33333333;
  font-size: 3rem;
  margin: 0 0 0 0.5rem;
}
.landscape-print .wrapper-image-top-date-row + .wrapper--dates .labels,
.landscape-print .wrapper-image-top-date-row + .wrapper--dates .labels + .dates {
  font-size: 20px;
}
.landscape-print .wrapper-image-top-date-row + .wrapper--dates h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
}
.landscape-print .wrapper-image-left-date-block + .wrapper--dates h3 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
}
.landscape-print .wrapper-image-left-date-block + .wrapper--dates .labels-grid-block {
  grid-gap: 0;
}
.landscape-print .wrapper-image-left-date-block + .wrapper--dates .labels-grid-block + .dates {
  grid-gap: 0;
}
.landscape-print .wrapper-image-left-date-block + .wrapper--dates .labels-grid-block + .dates span {
  height: auto;
}
.landscape-print.item--0 .wrapper-image-top-date-row,
.landscape-print .item--0 .wrapper-image-left-date-block {
  min-height: 160mm !important;
  max-height: 160mm !important;
  min-width: 267mm !important;
  max-width: 267mm !important;
  justify-self: center;
}
/*# sourceMappingURL=index.css.map */