.design0{
  background-color: #ffffff;
  color: #000000;
  & .calendar-title, h3, .labels{
    color: #000000;
  }
  & .labels{
    opacity: 0.6;
  }
  & .dates{
    color: #000000;
  }
}

.design1{
  background-color: #000000;
  & .calendar-title, h3, .labels{
    color: #ffffff;
  }
  & .labels{
    opacity: 0.6;
  }
  & .dates {
    color: #ffffff;
  }
}

.design2{
  background-color: green;
  & .calendar-title, h3, .labels{
    color: yellow;
  }
  & .labels {
    opacity: 0.6;
  }
  & .dates{
    color: yellow;
  }
}

.design3{
  background-color: yellow;
  & .calendar-title, h3, .labels{
    color: blue;
  }
  & .labels{
    opacity: 0.6;
  }
  & .dates {
    color: blue;
  }
}

.design4{
  background-color: blue;
  & .calendar-title, h3, .labels{
    color: red;
  }
  & .labels{
    opacity: 0.6;
  }
  & .dates {
    color: white;
  }
}
